@model IMMIWeb.Service.Models.UserSettingViewModel;
@using IMMIWeb.Infrastructure;
@{
    List<Help> helps = TempData["HelpData"] as List<Help>;
    string myModelDescription = TempData["MyModel"] as string;
    string GUID = Context.Session.GetString("GUID");
    string OTPTimer = Convert.ToString(new ConfigurationBuilder().AddJsonFile("appsettings.json").Build().GetSection("GeneralInfo")["OTPTimer"]);
}


<section class="main-tab-section mt-90">
    <div class="container">
        <div class="row">

            <div class="col-lg-4">
                <div class="tabs-container">
                    <nav>
                        <div class="nav nav-tabs flex-column mobile-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-mobile-number-tab" data-bs-toggle="tab" data-bs-target="#nav-mobile-number" type="button" role="tab" aria-controls="nav-mobile-number" aria-selected="false">Change Mobile Number</button>
                            <button class="nav-link" id="nav-help-tab" data-bs-toggle="tab" data-bs-target="#nav-help" type="button" role="tab" aria-controls="nav-help" aria-selected="false">Help</button>
                            <button class="nav-link" id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about" type="button" role="tab" asp-action="AboutUs" asp-controller="UserCMS" aria-controls="nav-about" aria-selected="false">about us</button>
                            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">contact Us</button>
                            @*<button class="nav-link" id="nav-otp-tab" data-bs-toggle="tab" data-bs-target="#otp-screen" type="button" role="tab" aria-controls="otp-screen" aria-selected="false">OTP</button>
                            <button class="nav-link" id="nav-newNumber-tab" data-bs-toggle="tab" data-bs-target="#New-Mobile-screen" type="button" role="tab" aria-controls="New-Mobile-screen" aria-selected="false">New Number</button>*@
                            <button class="nav-link" id="nav-dlt-acc-tab" data-bs-toggle="tab" data-bs-target="#nav-dlt-acc" type="button" role="tab" aria-controls="nav-dlt-acc" aria-selected="false">Delete My Account</button>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-mobile-number" role="tabpanel" aria-labelledby="nav-mobile-number-tab">

                        <div class="signin-wrap change-num-wrap text-center" id="chngMobileNo">
                            <h1>Change Mobile Number</h1>

                            @*@if (TempData["AlertMessageFailOtpAttempt"] != null && TempData["AlertMessageFailOtpAttempt"].ToString() != "")
                            {
                            <span class="text-danger">@TempData["AlertMessageFailOtpAttempt"].ToString()</span>
                            }*@
                            @*<input value="@Model.lstMobileVal" type="hidden" id="txtlstMobileVal" name="txtlstMobileVal">*@

                            @*@using (Html.BeginForm("Settings", "UserCMS", FormMethod.Post, new { id = "ChangeMobileNumberForm" }))
                            {

                            }*@

                            <div class="col-lg-12 position-relative mb-2">
                                <div class="cst-slect">
                                    <select class="mySelect fontColor" name="currentMobileCountryCode" id="currentMobileCountryCode">
                                        @foreach (var item in Model.lstMobile.ToList())
                                        {
                                            <option value="+@item.Name">+@item.Name @item.Prefix</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="tel" maxlength="12" style="padding-left: 105px;" class="fgd form-control" id="currentMobile" name="currentMobile" value="@SessionFactory.CurrentUserMobile" placeholder="Enter old number" />
                                </div>
                                <div style="text-align:left;">
                                    <span id="ErrorOldMobile" class="text-danger">@Model.MobileErrorMsg</span>
                                </div>

                            </div>

                            <div class="col-lg-12 position-relative mb-2">

                                <div class="input-group">
                                    <input type="Email" id="Email" name="Email" value="@SessionFactory.CurrentUserEmail" class="form-control" placeholder="Email address*" />
                                    <label for="Email">Email</label>
                                    <span id="Erroremail" class="text-danger">@Model.EmailErrorMsg</span>
                                </div>

                                <div class="text-left">
                                    <span class="text-danger clsErrorMsg"></span>
                                </div>
                            </div>


                            <button type="button" class="g-btn mb-0" id="ChangeNumberbtnSubmit">Submit</button>


                        </div>

                        <div class="signin-wrap text-center veryfy-num-otp d-none" id="chngotpverification">

                            <h1 id="pageHeader">Verify OTP</h1>
                            <p class="clsTimeout AddSendText"></p>

                            <div class="digit-group otp-verification-wrap clsTimeout" data-group-name="digits" data-autosubmit="false" autocomplete="off">
                                <input class="form-control text-center" type="text" onkeypress="return isNumber(event)" data-next="digit-2" id="digit-1" maxlength="1">&nbsp;&nbsp;
                                <input class="form-control text-center" type="text" onkeypress="return isNumber(event)" data-previous="digit-1" data-next="digit-3" id="digit-2" maxlength="1">&nbsp;&nbsp;
                                <input class="form-control text-center" type="text" onkeypress="return isNumber(event)" data-previous="digit-2" data-next="digit-4" id="digit-3" maxlength="1">&nbsp;&nbsp;
                                <input class="form-control text-center" type="text" onkeypress="return isNumber(event)" data-next="btnSendOtpVal" data-previous="digit-3" id="digit-4" maxlength="1">
                            </div>
                            <p class="clsErrorMsg" style="color:red;"></p>

                            <button type="button" id="btnSendOtpVal" onclick="SendOTP()" class="g-btn clsTimeout">Verify</button>

                            <div class="lost-mobile-wrap text-center clsTimeout">
                                <br />
                                <span id="timerText">OTP Validate In <span id="timer"></span></span>
                                <p id="resendOTPButton" style="display:none;cursor:pointer" class="mt-3" onclick="GetOTP('@GUID')">Resend OTP</p>
                            </div>

                            @*<div class="sign-up-link-wrap clsBackToLogin">
                            <p class="clsBackToLogin"> <img src="~/assets/images/g-arrow.svg" alt="arrow left" /> Back to <a asp-action="Login" class="clsBackToLogin">Login In</a> </p>
                            </div>*@

                        </div>

                        <div class="signin-wrap change-num-wrap text-center d-none" id="chngNewMobileNo">
                            <h1 class="mb-2">New Mobile Number</h1>
                            <br />
                            @using (Html.BeginForm("AddNewMobile", "UserCMS", FormMethod.Post, new { id = "signupform", enctype = "multipart/form-data" }))
                            {
                                <input value="@Model.lstMobileVal" type="hidden" id="txtlstMobileVal" name="txtlstMobileVal">

                                <input type="hidden" id="RandomNumber" name="RandomNumber" value="@Model.RandomNumber">

                                <div class="col-lg-12 position-relative mb-2">
                                    <div class="cst-slect">
                                        <select class="mySelect fontColor" name="NewMobileCountryCode" id="NewMobileCountryCode">
                                            @foreach (var item in Model.lstMobile.ToList())
                                            {
                                                <option value="+@item.Name">+@item.Name @item.Prefix</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group clsOther">
                                        <input type="tel" maxlength="12" style="padding-left: 105px;" class="fgd form-control" id="NewMobile" name="NewMobile" value="@Model.NewMobile" placeholder="Mobile number*" />
                                    </div>
                                    <div style="text-align:left;">
                                        <span class="clsErrorMsg text-danger" id="ErrorMobile"></span>
                                    </div>
                                </div>

                                <button type="button" id="btnSubmit" class="g-btn mt-4 clsOther btnSubmit">Submit</button>
                                @*<div class="sign-up-link-wrap">
                            <p> <img src="~/assets/images/g-arrow.svg" alt="arrow left" /> Back to <a asp-action="Login">Login In</a> </p>
                            </div>*@
                            }
                        </div>
                    </div>

                    <div class="tab-pane fade help-wrap" id="nav-help" role="tabpanel" aria-labelledby="nav-help-tab">
                        <div class="help-inner">
                            <div class="title text-center">
                                <h2>Help</h2>
                            </div>
                            @if (helps != null && helps.Count > 0)
                            {
                                @for (int i = 0; i < helps.Count; i++)
                                {
                                    var help = helps[i];
                                    var accordionId = "accordionExample_" + i;
                                    var showClass = i == 0 ? "show" : "";

                                    <div class="accordion help-accordion" id="@accordionId">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="heading_@i">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@i" aria-expanded="true" aria-controls="collapse_@i">
                                                    <span>Que.</span> @help.Question
                                                </button>
                                            </h2>
                                            <div id="collapse_@i" class="accordion-collapse collapse @showClass" aria-labelledby="heading_@i" data-bs-parent="#@accordionId">
                                                <div class="accordion-body">
                                                    <p>@help.Answer</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p>No help data available.</p>
                            }
                        </div>
                    </div>

                    <div class="tab-pane fade about-wrap" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                        <div class="about-inner text-center">
                            <div class="title text-center">
                                <h2>About Us</h2>
                            </div>
                            <p>
                                @if (!string.IsNullOrEmpty(myModelDescription))
                                {
                                    @Html.Raw(myModelDescription)
                                }
                                else
                                {
                                <p>No model description available.</p>
                                }
                            </p>
                        </div>
                    </div>

                    <div class="tab-pane fade contact-wrap" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="signin-wrap change-num-wrap text-center">
                            <div class="title text-center">
                                <h2>Contact US</h2>
                            </div>
                            @using (Html.BeginForm("ContactUs", "UserCMS", FormMethod.Post, new { id = "ContactUsForm" }))
                            {
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <input type="email" class="form-control" name="Email" id="Email" placeholder="Cameron Williamson" value="@SessionFactory.CurrentUserEmail" required>
                                            <label for="">Email ID*</label>
                                            <span class="text-danger" id="ErrorEmail"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="Subject" id="Subject" placeholder="Didn't get my refund" required>
                                            <label for="">Subject*</label>
                                            <span class="text-danger" id="ErrorSubject"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="input-group">
                                            <textarea name="description" id="description" rows="10" maxlength="300" class="form-control" placeholder="Write here..." required></textarea>
                                            <label for="">Description</label>
                                            <span class="text-danger" id="ErrorDescription"></span>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="g-btn mb-0" id="ContactUsbtnSubmit">Submit</button>
                            }
                        </div>
                    </div>

                    <div class="tab-pane fade about-wrap" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                        <div class="about-inner text-center">
                            <div class="title text-center">
                                <h2>About Us</h2>
                            </div>
                            @*@Html.Partial("_OtpVerification");*@
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Message Success Modal -->
<div class="modal extend-call-modal msg-submitted-modal" id="successMsg">
    <div class="modal-dialog extend-call-wrap">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal"><img src="~/assets/images/close-gray.svg" alt=""></button>
            <div class="modal-body">
                <img src="~/assets/images/done.svg" alt="done" />
                <h2 class="mb-0 mt-3">Message Submitted!</h2>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $('.digit-group').find('input').each(function (e) {

        $(this).attr('maxlength', 1);
        $(this).on('keyup', function (e) {
            var parent = $($(this).parent());


            if (e.keyCode === 8 || e.keyCode === 37) {
                var prev = parent.find('input#' + $(this).data('previous'));

                if (prev.length) {
                    $(prev).select();
                }
            } else if ((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 96 && e.keyCode <= 105)) {
                var next = parent.find('input#' + $(this).data('next'));

                if (next.length) {
                    $(next).select();
                } else {
                    if (parent.data('autosubmit')) {
                        parent.submit();
                    }
                }
            }
            else {
                var idVal = $(this).attr('id');
                $("#" + idVal).val("");
            }

        });
    });

    function SendOTP() {

        var val1 = $("#digit-1").val();
        var val2 = $("#digit-2").val();
        var val3 = $("#digit-3").val();
        var val4 = $("#digit-4").val();

        var otpVal = val1 + val2 + val3 + val4;

        if (otpVal.length == 4) {

            $("#OTP").val(otpVal);
            var useremail = sessionStorage.getItem("UserEmail");
            if (useremail === null || useremail === "null") {
                useremail = ""; // Set it to an empty string if it's null
            }
            var newmobile = sessionStorage.getItem("NewMobile");
            if (newmobile === null || newmobile === "null") {
                newmobile = ""; // Set it to an empty string if it's null
            }
            var newmobilecountrycode = sessionStorage.getItem("NewMobileCountryCode");
            if (newmobilecountrycode === null || newmobilecountrycode === "null") {
                newmobilecountrycode = ""; // Set it to an empty string if it's null
            }

            let OTPData =
            {
                OTP: otpVal,
                UserEmail: useremail,
                NewMobileCountryCode: newmobilecountrycode,
                NewMobile: newmobile,
            }
            $.ajax({
                type: "post",
                url: "/UserAccount/OTPVerification",
                data: OTPData,
                success: function (response) {
                    debugger;
                    if (response == "ChangeMobileTrue") {
                        $('#timer').hide();
                        $('#timer').html("");
                        sessionStorage.setItem("resendOtpProcess", "");
                        sessionStorage.setItem("sessionTimer", "");

                        $("#chngotpverification").addClass('d-none');
                        $("#chngMobileNo").addClass('d-none');
                        $("#chngNewMobileNo").removeClass('d-none');
                        //var url = "/UserCMS/AddNewMobileSettings";
                        //window.location.href = url;
                    }
                    else if (response == "NewMobileAdded") {
                        $('#timer').hide();
                        $('#timer').html("");
                        sessionStorage.setItem("resendOtpProcess", "");
                        sessionStorage.setItem("sessionTimer", "");
                        var url = "/UserCMS/Settings";
                        window.location.href = url;
                    }
                    else {
                        $(".clsErrorMsg").html(response);
                        setTimeout(function () {
                            $(".clsErrorMsg").html("");
                        }, 5000);

                        ClearOtp();
                    }
                },
                error: function () {
                    alert("Error occured!!")
                }
            });



        } else {

            $(".clsErrorMsg").html("Please enter OTP.");
            setTimeout(function () {
                $(".clsErrorMsg").html("");
            }, 5000);
        }
    }

    $(document).ready(function () {

        var sessionResendOtpProcess = sessionStorage.getItem("resendOtpProcess");

        if (sessionResendOtpProcess == "True") {
            $('#resendOTPButton').show();
            $('#timer').html("");
            $('#timerText').hide();
            $('#btnSendOtpVal').hide();
            ClearOtp();
        }
        else {
            var dataSessionTimer = sessionStorage.getItem("sessionTimer");

            if (dataSessionTimer != "" &&
                dataSessionTimer != "null" && dataSessionTimer != null
                && dataSessionTimer != "NaN" && dataSessionTimer != "00:00" && dataSessionTimer != ":NaN") {
                $('#timer').html(dataSessionTimer);

            }
            CountDown();

        }


        var modelMessage = '@Model.ErrorMsg';
        if (modelMessage && modelMessage.length > 0) {
            $(".clsErrorMsg").html('@Model.ErrorMsg');
            setTimeout(function () {
                $(".clsErrorMsg").html("");
            }, 5000);
            ClearOtp();
        }



        $("#currentMobile").on("input", function () {
            var mobileInput = $(this).val();
            var sanitizedInput = mobileInput.replace(/[^0-9]/g, ''); // Remove non-numeric characters
            $(this).val(sanitizedInput);
        });

        $("#newMobile").on("input", function () {
            var mobileInput = $(this).val();
            var sanitizedInput = mobileInput.replace(/[^0-9]/g, ''); // Remove non-numeric characters
            $(this).val(sanitizedInput);
        });


        var mobileCodeVal = $("#txtlstMobileVal").val();

        if (mobileCodeVal != "") {
            $("#MobileCountryCode").val(mobileCodeVal);
        }

        $('#ContactUsbtnSubmit').click(function (event) {
            var isValidForm = true;

            var email = $("#Email").val();
            var subject = $("#Subject").val();
            var description = $("#description").val();

            var formData = $("#ContactUsForm").serialize();

            if (email.trim() === "") {
                $("#ErrorEmail").text("Email is required.");
                isValidForm = false;
            } else if (!isValidEmail(email)) {
                $("#ErrorEmail").text("Enter a valid email address.");
                isValidForm = false;
            } else {
                $("#ErrorEmail").text("");
            }

            if (subject.trim() === "") {
                $("#ErrorSubject").text("Subject is required.");
                isValidForm = false;
            } else {
                $("#ErrorSubject").text("");
            }

            if (description.trim() === "") {
                $("#ErrorDescription").text("Description is required.");
                isValidForm = false;
            } else {
                $("#ErrorDescription").text("");
            }

            if (isValidForm) {
                $("#ContactUsForm").submit();
            }


            setTimeout(function () {
                $("#Email").val("");
                $("#Subject").val("");
                $("#description").val("");

                $("#successMsg").modal("hide");

                $("#successMsg").modal("show");
            }, 1000);
        });

        $('#ChangeNumberbtnSubmit').click(function (event) {
            debugger;
            var isValidForm = true;

            var oldMobile = $("#currentMobile").val();
            var currentMobileCountryCode = $("#currentMobileCountryCode").val();
            var email = $("#Email").val();

            if (oldMobile.trim() === "") {
                $("#ErrorOldMobile").text("Mobile number is required.");
                isValidForm = false;
            } else if (!/^\d{6,12}$/.test(oldMobile)) {
                $("#ErrorOldMobile").text("Mobile number must be between 6 and 12 digits.");
                isValidForm = false;
            } else if (!/^[0-9]+$/.test(oldMobile)) {
                $("#ErrorOldMobile").text("Please enter only numeric digits in the mobile number");
                isValidForm = false;
            } else {
                $("#ErrorOldMobile").text("");
            }


            if (email.trim() === "") {
                $("#Erroremail").text("Email is required.");
                isValidForm = false;
            } else if (!isValidEmail(email)) {
                $("#Erroremail").text("Enter a valid email address.");
                isValidForm = false;
            } else {
                $("#Erroremail").text("");
            }

            if (isValidForm) {


                var formData = new FormData();
                formData.append("currentMobile", oldMobile);
                formData.append("currentMobileCountryCode", currentMobileCountryCode);
                formData.append("Email", email);
                debugger

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Settings", "UserCMS")',  ///"/Home/VerifyEmail",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        debugger;
                        if (response != null) {
                            if (response.data != null) {
                                if (response.data.userEmail != "") {

                                    $(".AddSendText").text("We just sent you OTP on your registered mail " + response.data.userEmail + " Please enter it now.");
                                }
                                else {
                                    if (response.data.newMobile == "") {
                                        $(".AddSendText").text("OTP sent on your mobile " + response.data.currentMobileCountryCode + " " + response.data.currentMobile)
                                    }
                                    else {
                                        $(".AddSendText").text("OTP sent on your mobile " + response.data.newMobileCountryCode + " " + response.data.newMobile)
                                    }
                                }
                                $("#timer").text(response.data.otptimer);
                                //var resendOTPButton = $("#resendOTPButton");
                                //var currentOnClickValue = resendOTPButton.attr("onclick");
                                //var updatedOnClickValue = currentOnClickValue.replace(/@GUID/g, response.data.guid);
                                //resendOTPButton.attr("onclick", updatedOnClickValue);

                                $("#chngotpverification").removeClass('d-none');
                                $("#chngMobileNo").addClass('d-none');
                                $("#chngNewMobileNo").addClass('d-none');
                                sessionStorage.setItem("UserEmail", response.data.userEmail);
                                //@GUID = response.data.guid;

                            }

                        }
                    },
                    error: function () {
                        toastr.error('Error occured!!');
                    }
                });




                //$("#ChangeMobileNumberForm").submit();
            }
        });



        function isValidEmail(email) {
            var emailPattern = /^[^\s]+[^\s]+\.[^\s]+$/i;
            return emailPattern.test(email);
        }

        //Add New Mobile No Flow Start From Here


        $("#NewMobile").on("input", function () {
            var mobileInput = $(this).val();
            var sanitizedInput = mobileInput.replace(/[^0-9]/g, '');
            $(this).val(sanitizedInput);
        });

        var modelMessage = '@Model.ErrorMsg';

        if (modelMessage && modelMessage.length > 0) {
            $(".clsErrorMsg").html('@Model.ErrorMsg');
        }
        var mobileCodeVal = $("#txtlstMobileVal").val();

        if (mobileCodeVal != "") {
            $("#NewMobileCountryCode").val(mobileCodeVal);
        }

        $('#btnSubmit').click(function (event) {
            debugger;
            var isValidForm = true;
            var mobile = $("#NewMobile").val();
            var mobilecountrycode = $("#NewMobileCountryCode").val();
            //var randomnumber = $("#RandomNumber").val();

            if (mobile.trim() === "") {
                $("#ErrorMobile").text("Mobile number is required.");
                isValidForm = false;
            } else if (!/^\d{6,12}$/.test(mobile)) {
                $("#ErrorMobile").text("Mobile number must be between 6 and 12 digits.");
                isValidForm = false;
            } else if (!/^[0-9]+$/.test(mobile)) {
                $("#ErrorMobile").text("Mobile number should be only numeric digits.");
                isValidForm = false;
            } else {
                $("#ErrorMobile").text("");
            }

            if (isValidForm) {

                var formData = new FormData();
                formData.append("NewMobile", mobile);
                formData.append("NewMobileCountryCode", mobilecountrycode);
                //formData.append("RandomNumber", randomnumber);


                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddNewMobile", "UserCMS")',  ///"/Home/VerifyEmail",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        debugger;
                        if (response != null) {
                            if (response.data != null) {


                                $("#chngotpverification").removeClass('d-none');
                                $("#chngMobileNo").addClass('d-none');
                                $("#chngNewMobileNo").addClass('d-none');
                                sessionStorage.setItem("UserEmail", response.data.email);
                                sessionStorage.setItem("NewMobile", response.data.newMobile);
                                sessionStorage.setItem("NewMobileCountryCode", response.data.newMobileCountryCode);
                                ClearOtp();
                                //@GUID = response.data.guid;

                            }

                        }
                    },
                    error: function () {
                        toastr.error('Error occured!!');
                    }
                });



                //$("#signupform").submit();
            }

        });

        // End






    });

    function CountDown() {
        var interval;

        clearInterval(interval);
        interval = setInterval(function () {
            var timer = $('#timer').html();
            timer = timer.split(':');
            var minutes = timer[0];
            var seconds = timer[1];
            seconds -= 1;
            if (minutes < 0) return;
            else if (seconds < 0 && minutes != 0) {
                minutes -= 1;
                seconds = 59;
            }
            else if (seconds < 10 && length.seconds != 2) seconds = '0' + seconds;

            $('#timer').html(minutes + ':' + seconds);
            sessionStorage.setItem("sessionTimer", minutes + ':' + seconds);

            if (minutes == 0 && seconds == 0) {
                clearInterval(interval);
                sessionStorage.setItem("resendOtpProcess", "True");
                $('#resendOTPButton').show();
                $('#timer').html("");
                $('#timerText').hide();
                $('#btnSendOtpVal').hide();
                ClearOtp();
            }
        }, 1000);
    }

    function GetOTP(GUIDVal) {
        //var GUIDVal = @GUID;
        $('.clsErrorMsg').html("");
        $('#resendOTPButton').hide();

        var val1 = $("#digit-1").val("");
        var val2 = $("#digit-2").val("");
        var val3 = $("#digit-3").val("");
        var val4 = $("#digit-4").val("");
        var useremail = sessionStorage.getItem("UserEmail");
        var newmobile = sessionStorage.getItem("NewMobile");
        var newmobilecountrycode = sessionStorage.getItem("NewMobileCountryCode");

        let mobileNumberVar = {
            GUID: GUIDVal,
            UserEmail: useremail,
            NewMobileCountryCode: newmobilecountrycode,
            NewMobile: newmobile,

        }
        $.ajax({
            type: "post",
            url: "/UserAccount/ResendOtp",
            data: mobileNumberVar,
            success: function (response) {
                if (response == "True") {
                    toastr.options.timeOut = 5000;
                    //toastr.success('OTP has been sent');
                    $('#btnSendOtpVal').show();
                    $("#resendOTPButton").hide();
                    $('#timerText').show();
                    $("#timer").show();
                    $("#timer").html('@OTPTimer');
                    sessionStorage.setItem("resendOtpProcess", "");
                    CountDown();
                }
                else {

                    $('#pageHeader').html("You have exceeded the maximum number of OTP request attempts for today.");
                    sessionStorage.setItem("resendOtpProcess", "");
                    $('#btnSendOtpVal').hide();
                    $('.clsTimeout').hide();
                    sessionStorage.setItem("sessionTimer", "");
                }
            },
            error: function () {
                alert("Error occured!!")
            }
        });
    }

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        if (charCode === 13) {
            // Your code to handle Enter key press here
            //alert('Enter key pressed!');
            SendOTP();
            //return true; // Prevent the Enter key from being added to the input field
        }
        else {
            return true;
        }
    }

    function ClearOtp() {
        $("#digit-1").val("");
        $("#digit-2").val("");
        $("#digit-3").val("");
        $("#digit-4").val("");
    }

</script>